*{
    margin: 0;
    padding: 0;
}

body
{
    /* background-image: url('bg.jpeg');  */
    background-size: cover;
    background-color: rgb(24, 20, 20);
    overflow: hidden;
    height: 100vh;

}
.video
{
    width: 100%;
    hie
}

.taskbar
{
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 111;
}

.right
{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0px;
    height: 88%;
}
.startmenu
{
    position: absolute;
    /* bottom: 50px; */
    bottom: -655px;
    width: 100%;
    text-align: center;
    z-index: 11;
    transition: all 0.3s ease-in;
    
}
.startmenu img
{
    border-radius: 8px;
}


@media screen and (max-width:850px) {

    .video
    {
        position: absolute;
        bottom: 0;
    }
    .startmenu img
    {
        height: 30rem;
    }
    .right
    {
        width:9rem;
        height: auto;
    }
    .icons
    {
        width:13rem;
    }
    .taskbar
    {
        height: 2rem;
    }





}
